.aside-wrapper {
  display: grid;
  grid-template-columns: auto 240px;
  grid-gap: 20px;
  .content {
    max-width: 812px;
  }
  .aside {
    & > aside {
      margin-bottom: 20px;
    }
  }
}

// critics
.critics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-radius: 8px;
  padding: 12px;
  &__content {
    p {
      color: var(--basic);
    }
  }
  .label {
    position: absolute;
    right: -6px;
    text-transform: uppercase;
    top: -15px;
    display: inline-block;
    background-image: url(../img/label--right.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 11px;
    line-height: 16px;
    color: var(--white);
    font-style: italic;
    font-weight: 800;
    min-height: 26px;
    padding: 6px 10px 7px;
  }
  .author {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    &__avatar {
      position: relative;
      width: 42px;
      height: 42px;
      img {
        border-radius: 50%;
      }
      svg {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 0;
        right: 0;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .h4 {
        font-size: 13px;
        line-height: 20.2px;
        margin: 0;
      }
      .p3 {
        font-size: 11px;
        line-height: 13.2px;
      }
    }
  }
  &__info {
    display: flex;
  }
  &__info-item {
    padding: 0 10px;
    border-right: 1px solid var(--gray-line);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    p {
      text-transform: uppercase;
      margin: 0;
      &.value {
        text-align: center;
        text-transform: initial;
        color: var(--basic);
        margin-top: 3px;
      }
    }
    .value {
      font-size: 13px;
    }
  }
}

// score
.score {
  position: sticky;
  top: 0;
  padding: 6px 6px 12px 6px;
  z-index: 2;

  .rating span svg {
    width: 16px;
    height: 16px;
  }

  &__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;

    img {
      width: 100px;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    color: var(--white);
    margin-bottom: 4px;
  }

  &__bg-bottom {
    display: flex;
    align-items: center;
    gap: 6px;

    .score-res,
    .score-res span {
      color: var(--white);
    }

    .score-res {
      font-family: var(--font-family-SF-Pro-Text-Regular);
      font-weight: 700;
    }

    .score-res span:last-child {
      font-weight: 400;
    }
  }
}

// stat
.stat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 6px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--gray-line);
}
.stat-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.stat-top {
  display: flex;
  justify-content: space-between;
  span {
    color: var(--basic);
    &:last-child {
      font-weight: 700;
    }
  }
}
.stat-line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: var(--gray-bg);
  border-radius: 50px;
  overflow: hidden;
}

.stat-subline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--accent);
  border-radius: 50px;
}

// descr
.descr {
}
.descr-title {
  margin-bottom: 3px;
}
.descr-text {
  margin-bottom: 12px;
}
.descr-btn {
  display: block;
}
