.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 2s ease-out;
  overflow-y: auto;

  &::after {
    transition: all 2s;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 212px;
    width: 212px;
    height: 100%;
    padding: 12px;

    background-color: var(--white);
    transition: all 0.2s ease-out;
    transform: translateX(-110%);
    z-index: 13;
  }

  &-menu {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #cdd3d7;
    border-radius: 3px;
  }
  &__logo {
    display: block;
    text-align: center;
    width: 140px;
    height: auto;
  }
  &__menu {
    margin-top: 28px;
    span {
      color: var(--gray-text);
      font-size: 12px;
      font-family: "Exo-Bold";
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 0 6px;
    }
  }
  ul {
    margin: 0 0 24px;
    li {
      margin: 2px 4px;
      a {
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 6px;
        font-family: "Exo-Medium";
        font-size: 14px;
        border-radius: 4px;
        color: var(--basic);
        i {
          margin-right: 8px;
          width: 32px;
          height: 32px;
          background-color: var(--gray-bg);
          border-radius: 50%;
          .svg-icon {
            width: 24px;
            height: 24px;
            fill: var(--basic);
          }
        }
        span {
          background-color: var(--red);
          border-radius: 4px;
          color: var(--white);
          margin-left: 8px;
          font-size: 11px;
          line-height: 13.2px;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          height: 100%;
          visibility: hidden;
          border-radius: 0 6px 6px 0;
          background-color: var(--accent);
        }
      }
      &:hover,
      &.active {
        a {
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
          border-radius: 6px;
          background-color: var(--white);
          color: var(--accent);
          &::after {
            visibility: visible;
          }
          .svg-icon {
            fill: var(--accent);
          }
        }
      }
    }
    &.bg-gray {
      background-color: #efeff6;
      border-radius: 8px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
  &__auth {
    width: 100%;
    margin: auto;
    .btn {
      display: block;
      text-align: center;
      margin: 8px 0 0 0;
      padding: 9px 20px;
    }
  }
}

// header mob
.header {
  &__content-top {
    padding: 6px 0;
    border-bottom: 1px solid var(--gray-line);
    background-color: var(--white);
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  .header__close {
    position: absolute;
    top: 10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 28px;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04))
      drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.04));
    background-color: #fff;
    z-index: 100;
    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.header-open {
  position: fixed;
  top: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  img {
    width: 142px;
    height: auto;
    padding-left: 12px;
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 12px;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 8px;
    border: 1.5px solid var(--accent);
    border-radius: 4px;

    .burger {
      @include burger;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      &::before,
      &::after,
      &__line {
        color: var(--accent);
        height: 1.5px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
  }
}

.header-content {
  &__nav {
    padding-top: 53px;
    background-color: var(--white);
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      li {
        padding: 6px 12px;
        margin: 0;
        a {
          display: flex;
          flex-direction: column;
          gap: 3px;
          padding: 0;
          font-size: 11px;
          line-height: 13.2px;
          svg {
            width: 22px;
            height: 22px;
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.menu--active {
  transform: translateX(0);
}

.overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
  }
}
