.mobile {
  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 16px;
  }

  &__content {
    padding: 16px;
    border-radius: 8px;
    background-color: #1d202b;
    margin-bottom: 16px;
  }

  &__content-title {
    padding-bottom: 12px;
    margin-bottom: 20px;
    color: var(--white);
    border-bottom: 1px solid #ffffff18;
  }

  &__content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 16px;
  }

  .review__bonuses {
    margin-top: 42px;
  }
}

.mobile-grid {
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      color: var(--white);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    svg {
      width: 12px;
      height: 12px;
    }
  }
}
.devices {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  &__item {
    max-width: 245px;
    padding: 12px;
    border-radius: 8px;
  }
}

.device-top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}
.device-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-bg);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  img {
    width: 26px;
    height: 26px;
  }

  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -7px;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: var(--accent);
    border: 2.25px solid var(--white);
    border-radius: 50%;
    z-index: 1;
    svg {
      width: 10px;
      height: 10px;
    }
  }

  .false {
    background-color: var(--red);
  }
}

.device-text {
  text-align: center;
  &--apple {
    margin-top: 45px;
  }
}

.device-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  margin-bottom: 12px;

  &--download {
    justify-content: flex-start;
    background-color: var(--basic);
    padding: 8px;
    border: none;
    img {
      width: 24px;
      height: 24px;
    }

    span {
      display: block;
      margin: 0 auto;
      color: var(--white);
      &:first-child {
        font-size: 8px;
        line-height: 13.2px;
        text-transform: uppercase;
      }
    }
  }
}
