.review {
  &__banner {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    padding: 6px;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
  }

  &__banner-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  &__banner-content {
    max-width: 420px;
  }

  &__banner-logo {
    display: block;
    margin-bottom: 7px;
    img {
      display: block;
      width: auto;
      height: 44px;
    }
  }

  &__banner-title {
    margin-bottom: 16px !important;
    color: var(--white) !important;
  }

  &__banner-info {
    display: flex;
    gap: 20px;
    margin-bottom: 23px;
  }

  &__banner-btn {
    display: inline-block;
  }

  &__banner-tur {
    display: flex;
    flex-direction: column;
    gap: 1px;
    span {
      font-family: var(--font-family-Exo-Bold);
      color: var(--white);
      &:first-child {
        font-size: 15px;
        line-height: 18px;
      }
      &:last-child {
        font-size: 18px;
        line-height: 22.5px;
      }
    }
  }

  &__banner-text {
    color: var(--white);
  }

  &__banner-items {
    display: flex;
    gap: 33.6px;
    padding: 12px 0px;
  }
}

.banner-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 1px;
    height: 42px;
    background-color: var(--gray-line);
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
  img {
    width: 40px;
    height: 40px;
  }
  &__info {
    span {
      font-family: var(--font-family-Exo-Bold);
      color: var(--basic);
      font-size: 18px;
      line-height: 19.8px;
    }
  }
}
