<section class="error__page error">
  <div class="error-title">
    <img
      loading="lazy"
      src="img/label--error.png"
      class="image label"
      alt="Error label"
    />
    <h1 class="h1">404</h1>
  </div>
  <h2 class="h2 error-subtitle">
    Sorry, the page you are looking for could not be found
  </h2>
  <p class="error-text">
    Did you know that each operator in Stakersland has been examined and
    researched in detail, from the famous global brands right through to the
    up-and-coming challengers. Our unique ranking system has been designed to
    allow you to make quick and easy decisions. Decisions that let you pick out
    the right bookmaker for you and your betting style and budget.
  </p>
  <a href="index.html" class="btn error-btn">Back</a>
</section>
