<section class="about bg-white">
  <div class="about__block">
    <h1 class="h1 about__title">About</h1>
    <p class="about__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly, and that comes down to not understanding that these bonuses are
      worded to make you feel like you have a strong.
    </p>
  </div>

  <div class="about__block">
    <h2 class="h2 about__title">Our Mission</h2>
    <p class="about__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly, and that comes down to not understanding that these bonuses are
      worded to make you feel like you have a strong. The online casino bonus is
      the source of a lot of controversy amongst the staker community, but the
      real issue comes down to one very simple fact.Those who have no luck with
      these bonuses are usually not using them correctly, and that comes down to
      not understanding that these bonuses are worded to make you feel like you
      have a strong.
    </p>
  </div>

  <div class="about__block contributors bg-gray">
    <h2 class="h2 about__title">Our Contributors</h2>
    <div class="contributors-wrapper">
      <div class="contributor-item shadow--item bg-white">
        <div class="contributor-person">
          <div class="contributor-logo">
            <img
              loading="lazy"
              src="img/critics.png"
              class="image"
              alt="Critic"
            />
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#verified"></use>
            </svg>
          </div>
          <div class="contributor-name">
            <h4 class="h4">Mark Seibert</h4>
            <span class="p3">Betting Expert</span>
          </div>
        </div>
        <p class="contributor-text p3">
          Choosing the best betting site in the UK is not always easy. That's
          why our team has compiled a list.
        </p>
        <div class="contributor-info">
          <div class="contributor-info__item">
            <span class="p3">PROFIT</span>
            <span class="p3">1º</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">experience</span>
            <span class="p3">6 years</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">reviews</span>
            <span class="p3">320</span>
          </div>
        </div>
      </div>

      <div class="contributor-item shadow--item bg-white">
        <div class="contributor-person">
          <div class="contributor-logo">
            <img
              loading="lazy"
              src="img/critics.png"
              class="image"
              alt="Critic"
            />
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#verified"></use>
            </svg>
          </div>
          <div class="contributor-name">
            <h4 class="h4">Mark Seibert</h4>
            <span class="p3">Betting Expert</span>
          </div>
        </div>
        <p class="contributor-text p3">
          Choosing the best betting site in the UK is not always easy. That's
          why our team has compiled a list.
        </p>
        <div class="contributor-info">
          <div class="contributor-info__item">
            <span class="p3">PROFIT</span>
            <span class="p3">1º</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">experience</span>
            <span class="p3">6 years</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">reviews</span>
            <span class="p3">320</span>
          </div>
        </div>
      </div>

      <div class="contributor-item shadow--item bg-white">
        <div class="contributor-person">
          <div class="contributor-logo">
            <img
              loading="lazy"
              src="img/critics.png"
              class="image"
              alt="Critic"
            />
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#verified"></use>
            </svg>
          </div>
          <div class="contributor-name">
            <h4 class="h4">Mark Seibert</h4>
            <span class="p3">Betting Expert</span>
          </div>
        </div>
        <p class="contributor-text p3">
          Choosing the best betting site in the UK is not always easy. That's
          why our team has compiled a list.
        </p>
        <div class="contributor-info">
          <div class="contributor-info__item">
            <span class="p3">PROFIT</span>
            <span class="p3">1º</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">experience</span>
            <span class="p3">6 years</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">reviews</span>
            <span class="p3">320</span>
          </div>
        </div>
      </div>

      <div class="contributor-item shadow--item bg-white">
        <div class="contributor-person">
          <div class="contributor-logo">
            <img
              loading="lazy"
              src="img/critics.png"
              class="image"
              alt="Critic"
            />
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#verified"></use>
            </svg>
          </div>
          <div class="contributor-name">
            <h4 class="h4">Mark Seibert</h4>
            <span class="p3">Betting Expert</span>
          </div>
        </div>
        <p class="contributor-text p3">
          Choosing the best betting site in the UK is not always easy. That's
          why our team has compiled a list.
        </p>
        <div class="contributor-info">
          <div class="contributor-info__item">
            <span class="p3">PROFIT</span>
            <span class="p3">1º</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">experience</span>
            <span class="p3">6 years</span>
          </div>
          <div class="contributor-info__item">
            <span class="p3">reviews</span>
            <span class="p3">320</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about__block">
    <h2 class="h2 about__title">Editorial Policy</h2>
    <p class="about__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly, and that comes down.
    </p>
  </div>

  <div class="about__block">
    <h2 class="h2 about__title">Company Information And Address</h2>
    <p class="about__text">
      For general questions, comments and suggestions email us at
      business@esportebet.com. For business inquiries please call our business
      development representatives at +55 (0)234 525 8423.
    </p>
  </div>
</section>
