<aside class="critics bg-white shadow">
  <p class="label">recommended by</p>
  <div class="critics__author author d-flex d-flex-ai-center">
    <div class="author__avatar">
      <img src="./img/critics.png" alt="" /><svg class="svg-icon">
        <use xlink:href="./img/sprite.svg#verified"></use>
      </svg>
    </div>
    <div class="author__info">
      <p class="h4">Mark Seibert</p>
      <p class="p3">Betting Expert</p>
    </div>
  </div>
  <div class="critics__content">
    <p class="p3">
      Choosing the best betting site in the UK is not always easy. That's why
      our team has compiled a list.
    </p>
  </div>
  <div class="critics__info d-flex d-flex-ai-center">
    <div class="critics__info-item">
      <p class="p4 p4--bold">PROFIT</p>
      <p class="p4 p4--bold value">1º</p>
    </div>
    <div class="critics__info-item">
      <p class="p4 p4--bold">experience</p>
      <p class="p4 p4--bold value">6 years</p>
    </div>
    <div class="critics__info-item">
      <p class="p4 p4--bold">reviews</p>
      <p class="p4 p4--bold value">320</p>
    </div>
  </div>
</aside>
<aside class="score bg-white shadow">
  <div
    class="score__bg"
    style="background-image: url('../img/banners/aside-bg.png')"
  >
    <img src="./img/bookmakers/bet365.png" alt="BET 365" />
    <span class="p3 score__subtitle">Our Score</span>
    <div class="score__bg-bottom">
      <div class="rating d-flex d-flex-ai-center">
        <span class="d-flex d-flex-ai-center"
          ><svg class="svg-icon" fill="#FBA744">
            <use xlink:href="./img/sprite.svg#star"></use>
          </svg>
          <svg class="svg-icon" fill="#FBA744">
            <use xlink:href="./img/sprite.svg#star"></use>
          </svg>
          <svg class="svg-icon" fill="#FBA744">
            <use xlink:href="./img/sprite.svg#star"></use>
          </svg>
          <svg class="svg-icon" fill="#FBA744">
            <use xlink:href="./img/sprite.svg#star"></use>
          </svg>
          <svg class="svg-icon" fill="transparent">
            <use xlink:href="./img/sprite.svg#star"></use>
          </svg>
        </span>
      </div>
      <span class="score-res">4<span>/5</span></span>
    </div>
  </div>
  <div class="score__stat stat">
    <div class="stat-item">
      <div class="stat-top">
        <span class="p3">Social Buzz</span>
        <span class="p3">4.2/5</span>
      </div>
      <div class="stat-line">
        <div class="stat-subline" style="width: 90%"></div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-top">
        <span class="p3">Players</span>
        <span class="p3">300K</span>
      </div>
      <div class="stat-line">
        <div class="stat-subline" style="width: 90%"></div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-top">
        <span class="p3">Average Margin</span>
        <span class="p3">5.29%</span>
      </div>
      <div class="stat-line">
        <div class="stat-subline" style="width: 90%"></div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-top">
        <span class="p3">Average Live Margin</span>
        <span class="p3">7.48%</span>
      </div>
      <div class="stat-line">
        <div class="stat-subline" style="width: 90%"></div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-top">
        <span class="p3">ES Support</span>
        <span class="p3">Yes</span>
      </div>
      <div class="stat-line">
        <div class="stat-subline" style="width: 100%"></div>
      </div>
    </div>
  </div>

  <div class="score__descr descr">
    <h3 class="h3 descr-title">£20 Free Bet</h3>
    <p class="p3 descr-text">
      Bet £10 on Betdaq Virtuals and Get a £10 Free Bet
    </p>
    <a href="/" class="btn descr-btn">Claim Bonus</a>
  </div>
</aside>
