<section class="single-bonus">
  <div data-external_link="https://google.com" class="single-bonus__wrapper">
    <picture>
      <source srcset="img/bookmakers/bet365.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/bookmakers/bet365.png"
        class="image single-bonus__img"
        alt="Bookmaker"
      />
    </picture>

    <h1 class="h1 single-bonus__title">You are going to win!</h1>
    <h4 class="h4 single-bonus__subtitle">
      CHECKING BONUS AVAILABILITY AT 10 BET WEB SITE
    </h4>
    <p class="single-bonus__text">
      Please hold for a while, we are making your experience secure
    </p>

    <div class="preloader-wrapper single-bonus__preloader">
      <div class="preloader-line">
        <div class="preloader-subline"></div>
      </div>
      <div class="preloader-info">
        <span class="p3 preloader-text">Loading...</span>
        <span class="p3 preloader-percent">0%</span>
      </div>
    </div>
  </div>

  <div class="single-bonuses bonus-single">
    <div class="bonus-single__item shadow--item">
      <div class="label">¡exclusivo!</div>
      <div class="bonus-single__top">
        <picture>
          <source srcset="img/bookmakers/smarkets.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bookmakers/smarkets.png"
            class="image"
            alt="Bonus"
          />
        </picture>

        <p class="bonus-single__text">
          Win up to <span>500</span> Free Spins on Your First Deposit!
        </p>
      </div>
      <h5 class="h5 bonus-single__descr">
        Betcity is offering 50 Free Spins with zero wagering requirement and
        additional 30 Free Spins when deposit at least £10 on their.
      </h5>
      <div class="bonus-single__bottom">
        <div class="bonus-single__score">
          <div class="bonus-single__info">
            <span class="p4">Min Bet</span>
            <h5 class="h5">€0.10</h5>
          </div>
          <div class="bonus-single__info">
            <span class="p4">Min Odds</span>
            <h5 class="h5">1.80</h5>
          </div>
        </div>
        <a href="/ " class="btn bonus-single__btn">Claim Bonus</a>
      </div>
    </div>

    <div class="bonus-single__item shadow--item">
      <div class="label">¡exclusivo!</div>
      <div class="bonus-single__top">
        <picture>
          <source srcset="img/bookmakers/bet365.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bookmakers/smarkets.png"
            class="image"
            alt="Bonus"
          />
        </picture>

        <p class="bonus-single__text">
          Win up to <span>500</span> Free Spins on Your First Deposit!
        </p>
      </div>
      <h5 class="h5 bonus-single__descr">
        Betcity is offering 50 Free Spins with zero wagering requirement and
        additional 30 Free Spins when deposit at least £10 on their.
      </h5>
      <div class="bonus-single__bottom">
        <div class="bonus-single__score">
          <div class="bonus-single__info">
            <span class="p4">Min Bet</span>
            <h5 class="h5">€0.10</h5>
          </div>
          <div class="bonus-single__info">
            <span class="p4">Min Odds</span>
            <h5 class="h5">1.80</h5>
          </div>
        </div>
        <a href="/ " class="btn bonus-single__btn">Claim Bonus</a>
      </div>
    </div>

    <div class="bonus-single__item shadow--item">
      <div class="label">¡exclusivo!</div>
      <div class="bonus-single__top">
        <picture>
          <source srcset="img/bookmakers/Sky-Bet-Logo.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bookmakers/Sky-Bet-Logo.png"
            class="image"
            alt="Bonus"
          />
        </picture>

        <p class="bonus-single__text">
          Win up to <span>500</span> Free Spins on Your First Deposit!
        </p>
      </div>
      <h5 class="h5 bonus-single__descr">
        Betcity is offering 50 Free Spins with zero wagering requirement and
        additional 30 Free Spins when deposit at least £10 on their.
      </h5>
      <div class="bonus-single__bottom">
        <div class="bonus-single__score">
          <div class="bonus-single__info">
            <span class="p4">Min Bet</span>
            <h5 class="h5">€0.10</h5>
          </div>
          <div class="bonus-single__info">
            <span class="p4">Min Odds</span>
            <h5 class="h5">1.80</h5>
          </div>
        </div>
        <a href="/ " class="btn bonus-single__btn">Claim Bonus</a>
      </div>
    </div>
  </div>
</section>
