<section class="bonuses review__bonuses content-focus" id="bonuses">
  <h2 class="bonuses__title h2">Bet365 Bonuses</h2>
  <div class="bonus shadow shadow--item bg-white">
    <div class="d-flex d-flex-ai-center">
      <a
        class="bonus__logo d-flex d-flex-ff-column d-flex-ai-center d-flex-jc-center"
        href="/"
        ><img src="./img/bookmakers/bet365.png" width="94" height="42" alt="" />
      </a>
      <div class="bonus__content">
        <div class="title">
          <p class="h3">£20 Free Bet</p>
        </div>
        <div class="preview">
          <p class="p3">Bet £10 on Betdaq Virtuals and Get a £10 Free Bet</p>
        </div>
      </div>
      <div class="bonus__info info d-flex d-flex-ai-center">
        <div class="info__column">
          <p class="p4 p4--bold">Turnover</p>
          <p class="h4">6X</p>
        </div>
        <div class="info__column">
          <p class="p4 p4--bold">Min Odds</p>
          <p class="h4">1.80</p>
        </div>
      </div>
      <a class="btn" href="single-bonus.html">Claim Bonus</a>
    </div>
    <div class="bonus__tc p5">
      <p>
        This offer is for new sport customers only and is available once per
        household. Max. Free Bet amount £10. Minimum wagering on sport to
        activate the Free Bet is £20. T&C apply
      </p>
    </div>
  </div>

  <div class="bonus shadow shadow--item bg-white">
    <div class="d-flex d-flex-ai-center">
      <a
        class="bonus__logo d-flex d-flex-ff-column d-flex-ai-center d-flex-jc-center"
        href="/"
        ><img src="./img/bookmakers/bet365.png" width="94" height="42" alt="" />
      </a>
      <div class="bonus__content">
        <div class="title">
          <p class="h3">£5 Free Bet</p>
        </div>
        <div class="preview">
          <p class="p3">Bet £10 on Betdaq Virtuals and Get a £10 Free Bet</p>
        </div>
      </div>
      <div class="bonus__info info d-flex d-flex-ai-center">
        <div class="info__column">
          <p class="p4 p4--bold">Turnover</p>
          <p class="h4">6X</p>
        </div>
        <div class="info__column">
          <p class="p4 p4--bold">Min Odds</p>
          <p class="h4">1.80</p>
        </div>
      </div>
      <a class="btn" href="single-bonus.html">Claim Bonus</a>
    </div>
    <div class="bonus__tc p5">
      <p>
        This offer is for new sport customers only and is available once per
        household. Max. Free Bet amount £10. Minimum wagering on sport to
        activate the Free Bet is £20. T&C apply
      </p>
    </div>
  </div>
</section>
