<section class="contact bg-white">
  <div class="contact__block">
    <h1 class="contact__title">Contact</h1>
    <p class="contact__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly, and that comes down to not understanding that these bonuses are
      worded to make you feel like you have a strong.
    </p>
  </div>

  <form class="contact-form" autocomplete="off" id="contact-form">
    <div class="contact-form__wrapper">
      <div class="contact-form__item contact-form__item--name">
        <label for="name" class="h5 contact-form__label">Full Name</label>
        <input
          class="contact-form__input p2"
          placeholder="Full Name"
          name="name"
          id="name"
        />
      </div>

      <div class="contact-form__item contact-form__item--email">
        <label for="email" class="h5 contact-form__label">Email</label>
        <input
          class="contact-form__input p2"
          placeholder="Email"
          name="email"
          id="email"
        />
      </div>

      <div class="contact-form__item contact-form__item--message">
        <label for="message" class="h5 contact-form__label">Message</label>
        <textarea
          class="contact-form__input contact-form__textarea p2"
          placeholder="Message"
          name="Message"
          id="message"
        ></textarea>
      </div>
    </div>
    <button class="btn btn-reset contact-form__btn button mt-20">Send</button>
  </form>

  <div class="contact__block">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly, and that comes down to not understanding that these bonuses are
      worded to make you feel like you have a strong.
    </p>
  </div>

  <div class="contact__block contact-content">
    <div class="contact__block">
      <h2 class="contact__title">Company Information And Address</h2>
      <p class="contact__text">
        The online casino bonus is the source of a lot of controversy amongst
        the staker community, but the real issue comes down to one very simple
        fact. Those who have no luck with these bonuses are usually not using
        them correctly, and that comes down to not understanding that these
        bonuses are worded to make you feel like you have a strong. For general
        questions, comments and suggestions email us at business@esportebet.com.
        For business inquiries please call our business development
        representatives at +55 (0)234 525 8423. The online casino bonus is the
        source of a lot of controversy amongst the staker community, but the
        real issue comes down to one very simple fact.
      </p>
    </div>

    <div class="critics bg-gray shadow">
      <div class="critics__author author d-flex d-flex-ai-center">
        <div class="author__avatar">
          <img src="./img/critics.png" alt="" /><svg class="svg-icon">
            <use xlink:href="./img/sprite.svg#verified"></use>
          </svg>
        </div>
        <div class="author__info">
          <p class="h4">Mark Seibert</p>
          <p class="p3">Betting Expert</p>
        </div>
      </div>
      <div class="critics__content">
        <p class="p3">
          Choosing the best betting site in&nbsp;the UK&nbsp;is&nbsp;not always
          easy. That’s why our team has compiled a&nbsp;list.
        </p>
      </div>
      <div class="critics__info d-flex d-flex-ai-center">
        <div class="critics__info-item">
          <p class="p4 p4--bold">PROFIT</p>
          <p class="p4 p4--bold value">1º</p>
        </div>
        <div class="critics__info-item">
          <p class="p4 p4--bold">experience</p>
          <p class="p4 p4--bold value">6 years</p>
        </div>
        <div class="critics__info-item">
          <p class="p4 p4--bold">reviews</p>
          <p class="p4 p4--bold value">320</p>
        </div>
      </div>
    </div>
  </div>
</section>
