<section class="deposits content-focus" id="payments">
  <div class="deposits__block">
    <h2 class="h2 deposits__title">Betway deposits and withdrawals</h2>
    <p class="deposits__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly, and that comes down to not understanding that these bonuses are
      worded to make you feel like you.
    </p>
  </div>

  <div class="deposits__block">
    <h2 class="h2 deposits__title">Deposit options</h2>
    <p class="deposits__text">
      Betway supports a good range of payment methods for players from around
      the world. Many currencies are also accepted. Banking options do vary from
      country to country, so bettors will want to check what options are
      available in their country.
    </p>
  </div>

  <div class="table deposit-table review-table">
    <table>
      <thead>
        <tr>
          <th>
            <p class="h5">Deposit Method</p>
          </th>
          <th>
            <p class="h5">Fees</p>
          </th>
          <th>
            <p class="h5">Proccess Time</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="./img/payments/visa.png" alt="" />
            <h5 class="h5">Visa</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/mastercard.png" alt="" />
            <h5 class="h5">Mastercard</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/paypal.png" alt="" />
            <h5 class="h5">Paypal</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/scrill.png" alt="" />
            <h5 class="h5">Scrill</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/neteller.png" alt="" />
            <h5 class="h5">Neteller</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/ukash.png" alt="" />
            <h5 class="h5">Ukash</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/giropay.png" alt="" />
            <h5 class="h5">Giropay</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/paysafe.png" alt="" />
            <h5 class="h5">Paysafe</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="deposits__block">
    <h2 class="h2 deposits__title">Withdrawal options</h2>
    <p class="deposits__text">
      Withdrawing real money from the account can be done from the same cashier
      tab, with maximum limits going up to $50,000.
    </p>
  </div>

  <div class="table withdrawal-table review-table">
    <table>
      <thead>
        <tr>
          <th>
            <p class="h5">Deposit Method</p>
          </th>
          <th>
            <p class="h5">Fees</p>
          </th>
          <th>
            <p class="h5">Proccess Time</p>
          </th>
          <th>
            <p class="h5">Minimum Withdrawal</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="./img/payments/visa.png" alt="" />
            <h5 class="h5">Visa</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">1-5 banking days</h5></td>
          <td><h5 class="h5">£10</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/mastercard.png" alt="" />
            <h5 class="h5">Mastercard</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">1-5 banking days</h5></td>
          <td><h5 class="h5">£10</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/paypal.png" alt="" />
            <h5 class="h5">Paypal</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
          <td><h5 class="h5">£10</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/scrill.png" alt="" />
            <h5 class="h5">Scrill</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
          <td><h5 class="h5">£20</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/neteller.png" alt="" />
            <h5 class="h5">Neteller</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
          <td><h5 class="h5">£10</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/ukash.png" alt="" />
            <h5 class="h5">Ukash</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
          <td><h5 class="h5">£20</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/giropay.png" alt="" />
            <h5 class="h5">Giropay</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
          <td><h5 class="h5">£20</h5></td>
        </tr>
        <tr>
          <td>
            <img src="./img/payments/paysafe.png" alt="" />
            <h5 class="h5">Paysafe</h5>
          </td>
          <td><h5 class="h5">Free</h5></td>
          <td><h5 class="h5">Instant</h5></td>
          <td><h5 class="h5">£10</h5></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
