<footer class="footer">
  <div class="footer__container">
    <div class="footer__top d-flex d-flex-ai-center d-flex-jc-between">
      <a class="footer__logo" href="/"
        ><img src="./img/logo-footer.png" alt=""
      /></a>
      <div class="footer__licenses d-flex d-flex-ai-center">
        <img src="./img/licenses/plus-18.png" alt="" width="30" height="30" /><a
          href="http://www.gamblingtherapy.org/"
          ><img
            src="./img/licenses/gambling-theraphy.png"
            alt=""
            width="70"
            height="28" /></a
        ><a href="http://www.gamcare.org.uk/"
          ><img
            src="./img/licenses/gamecare.png"
            alt=""
            width="28"
            height="32" /></a
        ><a href="https://www.begambleaware.org/"
          ><img
            src="./img/licenses/begambleaware.png"
            alt=""
            width="160"
            height="20" /></a
        ><a href="http://www.gamblersanonymous.org.uk/"
          ><img
            src="./img/licenses/responsible-gambling.png"
            alt=""
            width="44"
            height="27" /></a
        ><a href="https://www.gamblingcommission.gov.uk/home.aspx"
          ><img
            src="./img/licenses/gambling.png"
            alt=""
            width="90"
            height="25" /></a
        ><a href="https://www.gamstop.co.uk/"
          ><img src="./img/licenses/gamstop.png" alt="" width="110" height="20"
        /></a>
      </div>
    </div>
    <div class="footer__mid d-flex d-flex-ai-center">
      <div class="content">
        <span class="p2">DISCLAIMER</span>
        <p class="p4">
          All bonuses, promotions, and free bet offers listed on the site are
          subject to the specific terms and conditions and the individual
          requirements of the operators promoting them. Stakers does not provide
          any type of customer service or support for any of the betting
          incentives and offers that are to be found on this site. This site and
          all the offers listed on this site are related to gambling and are
          only suitable for those at or above the legal age within those
          jurisdictions that permit online gambling. Furthermore, all logos,
          images, and third-party trademarks are the sole property of their
          individual owners. All trademarks and all references to trademarks
          themselves are made solely under the intention of fair promotion of
          all the services and betting operators mentioned on this site.
        </p>
      </div>
      <div class="content">
        <span class="p2">COOKIE USE</span>
        <p class="p4">
          Stakers.com operates both first and also third-party cookies on your
          computer. These are specifically used to improve the site and provide
          personalised functionality. We will assume that you accept our use
          cookies, as explained, by continuing to use our site. More details.
        </p>
      </div>
    </div>
    <div class="footer__bottom">
      <span class="p2">HELP</span>
      <div class="d-flex d-flex-ai-center p3">
        <a class="p4" href="">Cookies Policy</a
        ><a class="p4" href="">Privacy Policy</a
        ><a class="p4" href="">Terms & Conditions</a
        ><a class="p4" href=""
          >Have a question? Write to us hey@betreligion.com</a
        >
      </div>
    </div>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
