<header class="header">
  <div class="header__top">
    <a class="header__logo" href="/"
      ><img src="../img/logo.png" alt="" srcset="" />
    </a>

    <div class="header__menu">
      <span>Betting</span>
      <ul class="list-reset">
        <li>
          <a href="/betting-sites.html"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-star"></use></svg></i
            >Betting Sites</a
          >
        </li>
        <li>
          <a href="best-betting-sites.html"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-cup"></use></svg></i
            >Best Betting Sites</a
          >
        </li>
        <li>
          <a href="betting-offer.html"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-gift"></use></svg></i
            >Betting Offers</a
          >
        </li>
        <li>
          <a href="free-bets.html"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-fire"></use></svg></i
            >Free Bets</a
          >
        </li>
        <li>
          <a href="new-betting.html"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-rocket"></use></svg></i
            >New Betting Sites</a
          >
        </li>
      </ul>
      <span>Tips</span>
      <ul class="bg-gray list-reset">
        <li>
          <a href="/"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-events"></use></svg></i
            >Predictions<span>48</span></a
          >
        </li>
        <li>
          <a href="/events.html"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-ball"></use></svg></i
            >Events<span>864</span></a
          >
        </li>
        <li>
          <a href="/"
            ><i class="d-flex d-flex-ai-center d-flex-jc-center"
              ><svg class="svg-icon">
                <use xlink:href="./img/sprite.svg#menu-tipsters"></use></svg></i
            >Tipsters</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="header__bottom">
    <ul class="list-reset">
      <li>
        <a href="blog.html"
          ><i class="d-flex d-flex-ai-center d-flex-jc-center"
            ><svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#menu-blog"></use></svg></i
          >Blog</a
        >
      </li>
      <li>
        <a href="about.html"
          ><i class="d-flex d-flex-ai-center d-flex-jc-center"
            ><svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#menu-i"></use></svg></i
          >About</a
        >
      </li>
      <li>
        <a href="contact.html"
          ><i class="d-flex d-flex-ai-center d-flex-jc-center"
            ><svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#menu-mail"></use></svg></i
          >Contact
        </a>
      </li>
    </ul>
    <div class="header__auth">
      <a class="btn btn--border" href="/">Log In</a
      ><a class="btn" href="/">Join Now</a>
    </div>
  </div>
</header>
