<section class="licenses">
  <h2 class="h2 licenses__title">Betway security and licenses</h2>
  <p class="licenses__text">
    There are multiple security measures in place to protect all customers on
    the site. First of all, the website uses 256-bit SSL encryption provided by
    Thawte to make sure that all data is kept safe. This applies to personal
    details when registering and banking details when depositing. Also, Betway
    uses several firewalls for even better protection against unauthorised
    access. The operator is licensesd and regulated by the Malta Gaming
    Authority and by the Gibraltar Gambling Commissioner.
  </p>

  <div class="swiper licenses-slider">
    <div class="swiper-wrapper licenses-slider__wrapper">
      <div class="swiper-slide licenses-slider__slide">
        <img src="./img/licenses/gibraltar.png" alt="Gibraltar" />
        <span class="p3">Gibraltar Gambling Commissioner</span>
      </div>

      <div class="swiper-slide licenses-slider__slide">
        <img src="./img/licenses/gambling2.png" alt="Gambling" />
        <span class="p3">UK Gambling Commission</span>
      </div>

      <div class="swiper-slide licenses-slider__slide">
        <img src="./img/licenses/mga.png" alt="Mga" />
        <span class="p3">Malta Gaming Authority</span>
      </div>

      <div class="swiper-slide licenses-slider__slide">
        <img src="./img/licenses/alderney.png" alt="Alderney" />
        <span class="p3">Alderney Gambling Control Commission</span>
      </div>
    </div>

    <div
      class="licenses-slider__btn licenses-slider--prev swiper-button-prev"
    ></div>
    <div
      class="licenses-slider__btn licenses-slider--next swiper-button-next"
    ></div>
  </div>
</section>
