<section class="mobile content-focus" id="mobile">
  <h2 class="h2 mobile__title">Bet365 Mobile bookmaker</h2>
  <p class="mobile__text">
    Optimised for the best user experience, no matter the Internet speed and/or
    device.
  </p>

  <div class="mobile__content">
    <h3 class="h3 mobile__content-title">Live Streaming</h3>

    <div class="mobile__content-grid mobile-grid">
      <div class="mobile-grid__item">
        <div class="mobile-grid__icon">
          <svg id="true">
            <use xlink:href="./img/sprite.svg#true"></use>
          </svg>
        </div>
        <p>Live Streaming</p>
      </div>

      <div class="mobile-grid__item">
        <div class="mobile-grid__icon">
          <svg id="true">
            <use xlink:href="./img/sprite.svg#true"></use>
          </svg>
        </div>
        <p>Cash Out</p>
      </div>

      <div class="mobile-grid__item">
        <div class="mobile-grid__icon">
          <svg id="true">
            <use xlink:href="./img/sprite.svg#true"></use>
          </svg>
        </div>
        <p>Acca Insurance</p>
      </div>

      <div class="mobile-grid__item">
        <div class="mobile-grid__icon">
          <svg id="true">
            <use xlink:href="./img/sprite.svg#true"></use>
          </svg>
        </div>
        <p>Odds Boost</p>
      </div>

      <div class="mobile-grid__item">
        <div class="mobile-grid__icon">
          <svg id="true">
            <use xlink:href="./img/sprite.svg#true"></use>
          </svg>
        </div>
        <p>Time Out</p>
      </div>

      <div class="mobile-grid__item">
        <div class="mobile-grid__icon">
          <svg id="false">
            <use xlink:href="./img/sprite.svg#false"></use>
          </svg>
        </div>
        <p>Bet Builder</p>
      </div>
    </div>
  </div>

  <p class="mobile__text">
    The online casino bonus is the source of a lot of controversy amongst the
    staker community, but the real issue comes down to one very simple fact.
    Those who have no luck with these bonuses are usually not using them
    correctly, and that comes down to not understanding that these bonuses are
    worded to make you feel like you have a strong.
  </p>

  <div class="devices">
    <div class="devices__item device shadow--item">
      <div class="device-top">
        <div class="device-img">
          <img src="./img/icons/android.png" alt="Android" />
          <div class="check">
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#true"></use>
            </svg>
          </div>
        </div>
        <h4 class="h4">Android App</h4>
      </div>
      <a href="/" class="btn device-btn">Register</a>
      <p class="p4">
        Optimised for the best user experience, no matter the internet speed
        and/or device
      </p>
    </div>

    <div class="devices__item device shadow--item">
      <div class="device-top">
        <div class="device-img">
          <img src="./img/icons/apple.png" alt="apple" />
          <div class="check false">
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#false"></use>
            </svg>
          </div>
        </div>
        <h4 class="h4">iOS App</h4>
      </div>
      <p class="device-text device-text--apple">
        Monopoly casino does not have an IOS App
      </p>
    </div>

    <div class="devices__item device shadow--item">
      <div class="device-top">
        <div class="device-img">
          <img src="./img/icons/download.png" alt="Download" />
          <div class="check">
            <svg class="svg-icon">
              <use xlink:href="./img/sprite.svg#true"></use>
            </svg>
          </div>
        </div>
        <h4 class="h4">Mobile Version</h4>
      </div>
      <a href="/" class="btn device-btn device-btn--download">
        <img src="./img/icons/app-btn.png" alt="App btn" />
        <span><span>Download at</span> Google Play</span></a
      >
      <p class="p4">
        Optimised for the best user experience, no matter the internet speed
        and/or device
      </p>
    </div>
  </div>

  <p class="mobile__text">
    The online casino bonus is the source of a lot of controversy amongst the
    staker community, but the real issue comes down to one very simple fact.
    Those who have no luck with these bonuses are usually not using them
    correctly, and that comes down to not understanding that these bonuses are
    worded to make you feel like you have a strong.
  </p>

  <div class="bonuses review__bonuses">
    <h2 class="bonuses__title h2">
      Check Out Some Offers from Other Bookmakers
    </h2>
    <div class="bonus shadow shadow--item bg-white">
      <div class="d-flex d-flex-ai-center">
        <a
          class="bonus__logo d-flex d-flex-ff-column d-flex-ai-center d-flex-jc-center"
          href="review.html"
          ><img src="./img/bookmakers/paddy.png" alt="Paddy" />
          <div class="rating d-flex d-flex-ai-center">
            <span class="d-flex d-flex-ai-center"
              ><svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="transparent">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
            </span>
          </div>
        </a>
        <div class="bonus__content">
          <div class="title">
            <p class="h3">£20 Free Bet</p>
          </div>
          <div class="preview">
            <p class="p3">Bet £10 on Betdaq Virtuals and Get a £10 Free Bet</p>
          </div>
        </div>
        <div class="bonus__info info d-flex d-flex-ai-center">
          <div class="info__column">
            <p class="p4 p4--bold">Turnover</p>
            <p class="h4">6X</p>
          </div>
          <div class="info__column">
            <p class="p4 p4--bold">Min Odds</p>
            <p class="h4">1.80</p>
          </div>
        </div>
        <a class="btn" href="single-bonus.html">Claim Bonus</a>
      </div>
      <div class="bonus__tc p5">
        <p>
          This offer is for new sport customers only and is available once per
          household. Max. Free Bet amount £10. Minimum wagering on sport to
          activate the Free Bet is £20. T&C apply
        </p>
      </div>
    </div>

    <div class="bonus shadow shadow--item bg-white">
      <div class="d-flex d-flex-ai-center">
        <a
          class="bonus__logo d-flex d-flex-ff-column d-flex-ai-center d-flex-jc-center"
          href="/"
          ><img src="./img/bookmakers/betway.png" alt="Betway" />
          <div class="rating d-flex d-flex-ai-center">
            <span class="d-flex d-flex-ai-center"
              ><svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="transparent">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
            </span>
          </div>
        </a>
        <div class="bonus__content">
          <div class="title">
            <p class="h3">£5 Free Bet</p>
          </div>
          <div class="preview">
            <p class="p3">Bet £10 on Betdaq Virtuals and Get a £10 Free Bet</p>
          </div>
        </div>
        <div class="bonus__info info d-flex d-flex-ai-center">
          <div class="info__column">
            <p class="p4 p4--bold">Turnover</p>
            <p class="h4">6X</p>
          </div>
          <div class="info__column">
            <p class="p4 p4--bold">Min Odds</p>
            <p class="h4">1.80</p>
          </div>
        </div>
        <a class="btn" href="single-bonus.html">Claim Bonus</a>
      </div>
      <div class="bonus__tc p5">
        <p>
          This offer is for new sport customers only and is available once per
          household. Max. Free Bet amount £10. Minimum wagering on sport to
          activate the Free Bet is £20. T&C apply
        </p>
      </div>
    </div>

    <div class="bonus shadow shadow--item bg-white">
      <div class="d-flex d-flex-ai-center">
        <a
          class="bonus__logo d-flex d-flex-ff-column d-flex-ai-center d-flex-jc-center"
          href="/"
          ><img src="./img/bookmakers/smarkets.png" alt="Smarkets" />
          <div class="rating d-flex d-flex-ai-center">
            <span class="d-flex d-flex-ai-center"
              ><svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="transparent">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
            </span>
          </div>
        </a>
        <div class="bonus__content">
          <div class="title">
            <p class="h3">£5 Free Bet</p>
          </div>
          <div class="preview">
            <p class="p3">Bet £10 on Betdaq Virtuals and Get a £10 Free Bet</p>
          </div>
        </div>
        <div class="bonus__info info d-flex d-flex-ai-center">
          <div class="info__column">
            <p class="p4 p4--bold">Turnover</p>
            <p class="h4">6X</p>
          </div>
          <div class="info__column">
            <p class="p4 p4--bold">Min Odds</p>
            <p class="h4">1.80</p>
          </div>
        </div>
        <a class="btn" href="single-bonus.html">Claim Bonus</a>
      </div>
      <div class="bonus__tc p5">
        <p>
          This offer is for new sport customers only and is available once per
          household. Max. Free Bet amount £10. Minimum wagering on sport to
          activate the Free Bet is £20. T&C apply
        </p>
      </div>
    </div>

    <div class="bonus shadow shadow--item bg-white">
      <div class="d-flex d-flex-ai-center">
        <a
          class="bonus__logo d-flex d-flex-ff-column d-flex-ai-center d-flex-jc-center"
          href="/"
          ><img src="./img/bookmakers/mybet.png" alt="Mybet" />
          <div class="rating d-flex d-flex-ai-center">
            <span class="d-flex d-flex-ai-center"
              ><svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="transparent">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
            </span>
          </div>
        </a>
        <div class="bonus__content">
          <div class="title">
            <p class="h3">£5 Free Bet</p>
          </div>
          <div class="preview">
            <p class="p3">Bet £10 on Betdaq Virtuals and Get a £10 Free Bet</p>
          </div>
        </div>
        <div class="bonus__info info d-flex d-flex-ai-center">
          <div class="info__column">
            <p class="p4 p4--bold">Turnover</p>
            <p class="h4">6X</p>
          </div>
          <div class="info__column">
            <p class="p4 p4--bold">Min Odds</p>
            <p class="h4">1.80</p>
          </div>
        </div>
        <a class="btn" href="single-bonus.html">Claim Bonus</a>
      </div>
      <div class="bonus__tc p5">
        <p>
          This offer is for new sport customers only and is available once per
          household. Max. Free Bet amount £10. Minimum wagering on sport to
          activate the Free Bet is £20. T&C apply
        </p>
      </div>
    </div>

    <div class="pros-cons__more">
      <a class="btn" href="/">All Betting Offers</a>
      <span class="p3"
        >42 Betting Offers <br />
        by Brazilian Bookmakers</span
      >
    </div>
  </div>
</section>
