<div class="graph-modal modal">
  <div
    class="graph-modal__container modal-container modal-bonus__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-bonus"
  >
    <div class="modal-close">
      <button
        class="btn-reset graph-modal__close js-modal-close"
        aria-label="Close modal"
      ></button>
    </div>
    <div class="graph-modal__content modal-bonus">
      <div class="modal-bonus__img">
        <img
          loading="lazy"
          src="img/modal-img.png"
          class="image"
          alt="Modal img"
        />
      </div>

      <div class="modal-bonus__content">
        <h4 class="h4 modal-bonus__subtitle">
          Exclusive Offers From esportebet
        </h4>
        <h2 class="modal-bonus__title">No Deposit Bonuses</h2>
        <p class="modal-bonus__text">
          Don't just take our word for it – simply join us now to put the stack
          of Stakers online casino no-deposit bonuses to the test
        </p>

        <div class="modal-bonus__items">
          <div class="modal-bonus__item bonus shadow--item">
            <picture>
              <source srcset="img/bookmakers/paddy.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/bookmakers/paddy.png"
                class="image"
                alt="Bookmaker"
              />
            </picture>

            <div class="bonus-content">
              <h4 class="h4 bonus-title">10 R$ FREE BET</h4>
              <p class="p3 bonus-text">
                Get Welcome Bonus up to 1000 R$ and 100 Free Spins!
              </p>
            </div>

            <a href="/" class="btn bonus-btn">Claim Bonus</a>
          </div>

          <div class="modal-bonus__item bonus shadow--item">
            <picture>
              <source srcset="img/bookmakers/bet365.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/bookmakers/bet365.png"
                class="image"
                alt="Bookmaker"
              />
            </picture>

            <div class="bonus-content">
              <h4 class="h4 bonus-title">10 R$ FREE BET</h4>
              <p class="p3 bonus-text">
                Get Welcome Bonus up to 1000 R$ and 100 Free Spins!
              </p>
            </div>

            <a href="/" class="btn bonus-btn">Claim Bonus</a>
          </div>

          <div class="modal-bonus__item bonus shadow--item">
            <picture>
              <source srcset="img/bookmakers/betway.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/bookmakers/betway.png"
                class="image"
                alt="Bookmaker"
              />
            </picture>

            <div class="bonus-content">
              <h4 class="h4 bonus-title">10 R$ FREE BET</h4>
              <p class="p3 bonus-text">
                Get Welcome Bonus up to 1000 R$ and 100 Free Spins!
              </p>
            </div>

            <a href="/" class="btn bonus-btn">Claim Bonus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-aside modal">
  <div
    class="graph-modal__container modal-container modal-aside__container"
    role="dialog"
    aria-modal="true"
  >
    <div class="modal-close">
      <button
        class="btn-reset graph-modal__close"
        aria-label="Close modal"
      ></button>
    </div>
    <div class="graph-modal__content modal-content">
      <div class="modal-content__img">
        <img
          loading="lazy"
          src="img/icons/popup.png"
          class="image"
          alt="Popup logo"
        />
      </div>

      <h2 class="h2 modal-content__title">
        Join The Adventure To <span>Exclusive Offers!</span>
      </h2>
      <p class="modal-content__text">
        Unlock the secrets of casino bonuses and promotions from leading sites.
      </p>
      <form
        action="#"
        class="form-modal form"
        method="POST"
        enctype="multipart/form-data"
        novalidate="novalidate"
      >
        <div class="form__input-block">
          <input
            class="input-reset form__input form__input-name"
            type="text"
            name="Имя"
            id="modal-name"
            maxlength="15"
            required=""
          />
          <label class="form__label" for="modal-name">Enter your email</label>
        </div>

        <div class="form__input-block">
          <label class="custom-checkbox"
            ><input
              checked="checked"
              type="checkbox"
              class="custom-checkbox__field"
              required=""
            />
            <p class="p4 custom-checkbox__content">
              I certify that I am at least 18 years old and I agree to receive
              casino promotions and news from stakers.com
            </p></label
          >
        </div>

        <button class="btn modal-content__btn">Claim Exclusive Rewards</button>
      </form>
    </div>
  </div>
</div>
