<nav class="navigation review__navigation" title="navigation">
  <ul class="df df-ai-center df-jc-between navigation__list list-reset">
    <li data-id="pros-cons" class="navigation__item review__navigation-item h4">
      Pros & Cons
    </li>
    <li data-id="bonuses" class="navigation__item review__navigation-item h4">
      Bonuses
    </li>
    <li
      data-id="demographics"
      class="navigation__item review__navigation-item h4"
    >
      Demographic
    </li>
    <li data-id="mobile" class="navigation__item review__navigation-item h4">
      Mobile
    </li>
    <li data-id="sports" class="navigation__item review__navigation-item h4">
      Sports
    </li>
    <li data-id="payments" class="navigation__item review__navigation-item h4">
      Payments
    </li>
    <li data-id="support" class="navigation__item review__navigation-item h4">
      Support
    </li>
    <li
      data-id="our-verdict"
      class="navigation__item review__navigation-item h4"
    >
      Our Verdict
    </li>
    <li data-id="faq" class="navigation__item review__navigation-item h4">
      FAQ
    </li>
  </ul>
</nav>
