<section class="pros-cons content-focus" id="pros-cons">
  <h3 class="pros-cons__title h3">Pros & Cons</h3>

  <div class="pros-cons__items">
    <div class="benefits">
      <div class="benefits-rating">
        <div
          class="benefits-rating__logo"
          style="background-color: var(--accent)"
        >
          <h3 class="h3">L</h3>
        </div>

        <div class="benefits-rating__info">
          <h4 class="benefits-rating__name h4">Luis Akhtar</h4>
          <div class="benefits-rating__icons">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="transparent">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <span class="h5">5</span>/<span class="h5">5</span>
          </div>
        </div>
      </div>

      <p class="benefits-text">
        The online casino bonus is the source of a lot of controversy amongst
        the staker community, but the real issue comes down to one very simple
        fact.
      </p>

      <div class="benefits-profit">
        <div class="benefits-profit__check">
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#plus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#plus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#plus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
        </div>
        <div class="benefits-profit__false">
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#minus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#minus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="benefits">
      <div class="benefits-rating">
        <div class="benefits-rating__logo" style="background-color: #00a5b0">
          <h3 class="h3">R</h3>
        </div>

        <div class="benefits-rating__info">
          <h4 class="benefits-rating__name h4">Robert Shved</h4>
          <div class="benefits-rating__icons">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="transparent">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="svg-icon" fill="transparent">
              <use xlink:href="./img/sprite.svg#star"></use>
            </svg>
            <span class="h5">4</span>/<span class="h5">5</span>
          </div>
        </div>
      </div>

      <p class="benefits-text">
        The online casino bonus is the source of a lot of controversy amongst
        the staker community, but the real issue comes down to one very simple
        fact.
      </p>

      <div class="benefits-profit">
        <div class="benefits-profit__check">
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#plus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#plus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#plus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
        </div>
        <div class="benefits-profit__false">
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#minus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
          <div class="benefits-profit__item">
            <svg class="svg-icon" fill="#FBA744">
              <use xlink:href="./img/sprite.svg#minus"></use>
            </svg>
            <p class="benefits-profit__text">
              You get more money to win more prizes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pros-cons__more">
    <a class="btn btn--border" href="/">+</a
    ><a class="btn btn--plus" href="/">Show more reviews</a>
    <span class="p3"
      >42 reviews <br />
      by apuestas.club players</span
    >
  </div>
</section>
