<section class="review__banner">
  <div
    class="review__banner-wrapper"
    style="background-image: url('../img/banners/banner-review.png')"
  >
    <div class="review__banner-content">
      <a href="#" class="review__banner-logo">
        <picture>
          <source srcset="img/bookmakers/bet365.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bookmakers/bet365.png"
            class="image"
            alt="bookmakers logo"
          />
        </picture>
      </a>
      <h1 class="review__banner-title h1">
        Deposit and bet £10 to get a £30 Free Bet (Code: MW30)
      </h1>
      <div class="review__banner-info">
        <a class="review__banner-btn btn" href="/">Claim Bonus</a>
        <div class="review__banner-tur">
          <span>TURNOVER</span>
          <span>6X</span>
        </div>
        <div class="review__banner-tur">
          <span>MIN BET</span>
          <span>£0.10</span>
        </div>
      </div>
      <div class="review__banner-text p5">
        This offer is for new sport customers only and is available once per
        household. Max. Free Bet amount £10. Minimum wagering on sport to
        activate the Free Bet is £20. T&C apply
      </div>
    </div>
  </div>

  <div class="review__banner-items banner-items">
    <div class="banner-item">
      <img
        loading="lazy"
        src="img/icons/rev-banner1.png"
        class="image"
        width="40"
        height="40"
        alt="Icon"
      />
      <div class="banner-item__info">
        <p3 class="p3">Our Score</p3>
        <span>4.6/5</span>
      </div>
    </div>
    <div class="banner-item">
      <img
        loading="lazy"
        src="img/icons/rev-banner2.png"
        class="image"
        width="40"
        height="40"
        alt="Icon"
      />
      <div class="banner-item__info">
        <p3 class="p3">Social Buzz</p3>
        <span>4.6/5</span>
      </div>
    </div>
    <div class="banner-item">
      <img
        loading="lazy"
        src="img/icons/rev-banner3.png"
        class="image"
        width="40"
        height="40"
        alt="Icon"
      />
      <div class="banner-item__info">
        <p3 class="p3">Players</p3>
        <span>300K</span>
      </div>
    </div>
    <div class="banner-item">
      <img
        loading="lazy"
        src="img/icons/rev-banner4.png"
        class="image"
        width="40"
        height="40"
        alt="Icon"
      />
      <div class="banner-item__info">
        <p3 class="p3">Average Margin</p3>
        <span>5.29%</span>
      </div>
    </div>
    <div class="banner-item">
      <img
        loading="lazy"
        src="img/icons/rev-banner5.png"
        class="image"
        width="40"
        height="40"
        alt="Icon"
      />
      <div class="banner-item__info">
        <p3 class="p3">Average Live Margin</p3>
        <span>4.6/5</span>
      </div>
    </div>
    <div class="banner-item">
      <img
        loading="lazy"
        src="img/icons/rev-banner6.png"
        class="image"
        width="40"
        height="40"
        alt="Icon"
      />
      <div class="banner-item__info">
        <p3 class="p3">ES Support</p3>
        <span>Yes</span>
      </div>
    </div>
  </div>
</section>
