<section class="sports content-focus" id="sports">
  <h2 class="h2 sports__title">Sports Betting</h2>

  <div class="sports__right sports__right--float">
    <div class="sports-item shadow--item">
      <img src="./img/icons/football.png" alt="Football" />
      <h5 class="h5 sports-item__title">Football</h5>
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Margin</span>
          <h4 class="h4">34%</h4>
        </div>
        <div class="sports-item__info">
          <span class="p3">Markets</span>
          <h4 class="h4">100</h4>
        </div>
      </div>
    </div>

    <div class="sports-item shadow--item">
      <img src="./img/icons/tennis.png" alt="Tennis" />
      <h5 class="h5 sports-item__title">Tennis</h5>
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Margin</span>
          <h4 class="h4">34%</h4>
        </div>
        <div class="sports-item__info">
          <span class="p3">Markets</span>
          <h4 class="h4">100</h4>
        </div>
      </div>
    </div>

    <div class="sports-item shadow--item">
      <img src="./img/icons/basketball.png" alt="Basketball" />
      <h5 class="h5 sports-item__title">Basketball</h5>
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Margin</span>
          <h4 class="h4">34%</h4>
        </div>
        <div class="sports-item__info">
          <span class="p3">Markets</span>
          <h4 class="h4">100</h4>
        </div>
      </div>
    </div>

    <div class="sports-item shadow--item">
      <img src="./img/icons/volleyball.png" alt="Volleyball" />
      <h5 class="h5 sports-item__title">Volleybal</h5>
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Margin</span>
          <h4 class="h4">34%</h4>
        </div>
        <div class="sports-item__info">
          <span class="p3">Markets</span>
          <h4 class="h4">100</h4>
        </div>
      </div>
    </div>
  </div>

  <p class="sports__text">
    Source of a lot of controversy amongst the staker community, but the real
    issue comes down to one very simple fact. Those who have no luck with these
    bonuses are usually not using them correctly, and that comes down to not
    understanding that these bonuses are worded to make you feel like you have a
    strong. The online casino bonus is the source of a lot of controversy
    amongst the staker community, but the real issue comes down to one very
    simple fact. Those who have no luck with these bonuses are usually not using
    them correctly, and that comes down to not understanding that these bonuses
    are worded to make you feel like you. Source of a lot of controversy amongst
    the staker community, but the real issue comes down to one very simple fact.
    Those who have no luck with these bonuses are usually not using them
    correctly, and that comes down to not understanding that these bonuses are
    worded to make you feel like you have a strong. The online casino bonus is
    the source of a lot of controversy amongst the staker community.
  </p>
</section>
