<section class="support content-focus" id="support">
  <h2 class="h2 support__title">Betway customer service</h2>
  <div class="sports__right">
    <div class="sports-item">
      <img src="./img/icons/chat.png" alt="Live chat" />
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Live chat</span>
          <h5 class="h5">available 24/7</h5>
        </div>
      </div>
    </div>

    <div class="sports-item">
      <img src="./img/icons/email.png" alt="Email" />
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Email:</span>
          <h5 class="h5">support-eng@customerservice.com</h5>
        </div>
      </div>
    </div>

    <div class="sports-item">
      <img src="./img/icons/phone.png" alt="Phone" />
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Phone:</span>
          <h5 class="h5">n/a</h5>
        </div>
      </div>
    </div>

    <div class="sports-item">
      <img src="./img/icons/support.png" alt="Support" />
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <span class="p3">Support languages:</span>
          <h5 class="h5">English + 19 others</h5>
        </div>
      </div>
    </div>
  </div>
  <p class="support__text">
    The customer support service at Betway is top-notch. There is an extensive
    help section available with useful information on a variety of topics.
    Furthermore, players can also get in touch with the support team through
    multiple contact options. The Weekend Bonus Fair was set up to give stakers
    like you a full view on all the bonuses available and all the important
    details to look out for. You now know that it is in your best interests to
    read those terms and conditions in order to find the safe and friendly
    bonuses, or simply follow our lead and claim the approved bonuses that our
    bonus inspectors recommend.
  </p>
</section>
