<section class="verdict content-focus" id="our-verdict">
  <div class="verdict__left">
    <div class="sports-item shadow--item">
      <img
        src="./img/bookmakers/bet365.png"
        width="94"
        height="42"
        alt="Football"
      />
      <div class="sports-item__bottom">
        <div class="sports-item__info">
          <h4 class="h4">4.2/5</h4>
          <div class="rating d-flex d-flex-ai-center">
            <span class="d-flex d-flex-ai-center"
              ><svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="#FBA744">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="svg-icon" fill="transparent">
                <use xlink:href="./img/sprite.svg#star"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="verdict__right">
    <h3 class="h3 verdict__title">Our Verdict</h3>
    <p class="verdict__text">
      The online casino bonus is the source of a lot of controversy amongst the
      staker community, but the real issue comes down to one very simple fact.
      Those who have no luck with these bonuses are usually not using them
      correctly.
    </p>
    <a href="/" class="btn verdict__btn">Visit Site & Claim Bonus</a>
  </div>
</section>
